.App {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/cocoBack.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
  max-width: 50%;
}

.input-group-append {
  cursor: pointer;
}
